<div class="row">
  <div class="span6">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "well"}) do |f| %>
      <%= devise_error_messages! %>

      <fieldset>
        <legend>Sign Up!</legend>

        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :profile_name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>

        <div><%= f.button :submit, "Sign up" %></div>
      </fieldset>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  <div class="span6">
    <h2>Signing up is fast &amp; secure!</h2>
  </div>
</div>