<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="#" class="brand">Treebook</a>
        <ul class="nav">
          <li><%= link_to "All Statuses", feed_path %></li>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.full_name, edit_user_registration_path %></li>
            <li><%= link_to "Log out", logout_path %></li>
          <% else %>
            <li><%= link_to "Register", register_path %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>  
      </div>
    </div>
    <div class="container">
      <% flash.each do |type, message| %>
        <div class="alert <%= flash_class type %>">
          <button class="close" data-dismiss="alert">x</button>
          <%= message %>
        </div>
      <% end %>

    <%= yield %>
  </div>
</body>
</html>
